.header {
    background-image: none;
    background-color: #ffffff;
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__responsive {
    display: flex;
    justify-content: space-between;
    padding: 32px 0px 32px 0px;
    width: 80%;
}

.logo__busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  Estilos para el logo  */
.logo__vestido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.vestido {
    width: 50px;
    height: 50px;
}


/*  Estilos para el nombre del sitio  */
.busqueda {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    width: 126px;
    height: 100%;
}

.alura {
     width: 55px;
    height: 100%; 
    font-size: x-large;
    color: #2A7AE4;
}

.greek {
    width: 61.29px;
    height: 100%; 
    font-size: x-large;
}