.img__card {
   width: 197px;
   height: 206px;
}

.template__card {
   width: 210px;
   max-width: 100%;
   height: 360px;
   display: flex;
   justify-content: center;
   border: 1px #464646 solid;
   border-radius: 5px;
   box-shadow: 0px 4px 7px rgb(23, 22, 22);
}

.tamanio__general {
   width: 85%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.roww {
   width: 100%;
   max-width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   gap: 16px;
}

.card__merca {
   margin: 7px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.card__body>h5 {
   width: 156px;
   font-size: 16px;
}

.categoria__boton {
   width: 85%;
   display: flex;
   justify-content: space-between;
   align-items: stretch;
}

.categoria__btn {
   border: 0;
   color: #2A7AE4;
   font-size: 16px;
   background-color: #ffffff;
   display: flex;
   align-items: center;
   font-weight: bold;
}

.categoria__boton>h4 {
   color: #464646;
   font-size: 32px;
   font-weight: bold;
}

.card__body {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 90%;
}

.btn__card {
   border: 0;
   padding: 0;
   background-color: #ffffff;
   color: #2A7AE4;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
}

@media (max-width:768px) {

   .roww {
      gap: 15px;
   }

   .categoria__boton {
      width: 90%;
   }

   .categoria__boton>h4 {
      font-size: 22px;
   }

   .categoria__btn {
      font-size: 15px;
   }

   .tamanio__general {
      width: 90%;
   }

   .template__card {
      width: 161px;
      height: 275px;
   }

   .card__body>h5 {
      font-size: 13px;
      margin: 0;
      padding: 3px;
   }

   .card__body>p {
      border: 0;
      padding: 3px;
      margin: 0;
   }

   .card__body {
      font-size: 13px;
   }

   .btn__card {
      font-size: 13px;
      padding: 3px;
   }

   .img__card {
      width: 155px;
      height: 153px;
   }
}

@media (max-width:360px) {
   .roww{
      gap: 5px;
      flex-wrap: wrap;
   }
   .template__card{
      width: 159px;
   }

   .card__merca{
      margin: 0;
   }

   .img__card{
      width: 150px;
      height: 148px;
   }
}