@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Raleway:wght@300;500;600&display=swap');

.footer {
    font-family: 'Raleway';
    width: 100%;
    max-width: 100%;
    height: 368px;
    background-color: #EAF2FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive__footer {
    display: flex;
    justify-content: space-between;
    height: 260px;
    gap: 10px;
    width: 85%;
}

.logo__footer {
    display: flex;
    padding: 5px 0px 32px 0px;
    background-image: none;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Raleway';
}

/*
    El logo del footer es el mismo que el del header
*/

/* seccion diferente, pero mismo css por weba   */
.autores {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.yo__autor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img__autor {
    text-align: justify;
    margin-bottom: 2rem;
}