@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Raleway:wght@300;500;600&display=swap');

.categoria__productos{
    font-family: 'Raleway';
    height: 420px;
    width: 100%;
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
   }

