/*  Aqui se hicieron las aniacines para los inputs(Capo de texto)  */

.campos__footer {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    height: 100%;
    gap: 8px;
}

.hable__footer {
    color: #212529;
    font-weight: bold;
    font-size: 18px;
}

.input {
    height: 56px;
    padding: 25px 12px 12px 11px;
}

.single__input {
    position: relative;
}

.single__input label {
    font-size: 16px;
    position: absolute;
    bottom: 15px;
    left: 10px;
    color: rgb(150, 150, 150);
    cursor: text;
    transition: 0.5s ease-in-out;
}

.single__input .input {
    width: 100%;
    color: rgb(150, 150, 150);
    border: 0;
    outline: 0;
    font-size: 16px;
    border-bottom: 1px gray solid;
}

.single__input .input:focus,
.single__input .input:valid {
    border-bottom: 2px solid cornflowerblue;
}

.single__input .input:focus~label,
.single__input .input:valid~label {
    transform: translateY(-22px);
    font-size: 12px;
    color: cornflowerblue;
}

.textArea__footer {
    width: 100%;
    height: 82px;
    gap: 8px;
    border: 0;
    padding: 12px 12px 12px 11px;
}

.textArea__footer:focus{
    border: 0;
    border-bottom: 2px solid cornflowerblue;
    color: cornflowerblue;
    border-bottom: 1px gray solid;
}
.textArea__footer:hover{
    border: 0;
}

/*
    La clase css del boton esta en la carpeta main, el css hero
*/

@media (max-width:768px) {
    
    .campos__footer{
        width: 434px;
        height: 75%;
    }

    .single__input .input{
        width: 100%;
    }

    .textArea__footer{
        width: 100%;
    }

   }

   @media (max-width:360px) {
    .single__input .input{
        width: 100%;
        
    }
    .form__footer{
        width: 100%;
    }
    .campos__footer{
        width: 100%;
        height: 100%;
        gap: 8px;
        margin: 5%;
    }
    
   }